@media(max-width:768px) {
    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .top-menu .logo {
        margin-bottom: 100px;
    }

    .top-menu .logo, .top-menu nav .navigation-menu li a {
        font-size: 4rem;
    }

    .navigation-menu {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .navigation-menu li a {
        padding: 20px 40px;
    }

    #cadastro {
        font-size: 1.8rem;
    }
}

@media(max-width:258px) {
    .top-menu {
        padding: 30px;
    }
    
    .top-menu .logo, .top-menu nav .navigation-menu li a {
        font-size: 3rem;
    }

    #cadastro {
        font-size: 1.2rem;
    }
}