@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap'); /*font-family: 'Public Sans', sans-serif;*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.top-menu {
    width: 100%;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h1{
    font-size: 2rem;
}

.logo img {
    margin-right: 6px;
}

.navigation-menu {
    display: flex;
    gap: 19px;
}

.navigation-menu li a{
    color: #000;
    padding: 11px 6px;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
}

.navigation-menu li a:hover{
    color: #fff;
    background-color: var(--fundo-botao);
    text-decoration: underline #BA55D3;
}

#cadastro {
    color: #fff;
    background-color: var(--fundo-botao);
    font-weight: 300;
    padding: 11px 21px;
    border-radius: 10px;
}

